@function textForBackground($color){
    @if(lightness($color) > 40){
        @return lighten(desaturate(adjust-hue($color, 10), 50.70), 10.20);
    }
    @else{
        @return lighten(desaturate(adjust-hue($color, 40), 50.70), 10.20);
    }


}
