body {
    margin: 20px 50px;
    background-color: #e1e1e1;
}

.container {
    display: flex;
}

.box {
    margin-left: 50px;
}

h1 {
    margin-top: -10px;
    font-family: 'Racing Sans One', serif;
    font-size: 48px;
}

h3 {

    font-family: 'Racing Sans One', serif;
    font-size: 30px;

}

p {
    font-family: 'Roboto Light', serif;
    font-size: 12px;

}

li {
    font-family: 'Roboto Light', serif;
    font-size: 12px;

}

.border {
    padding: 15px;
    margin: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
    box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);

}




