//@import "./variables";
//@import "./utility";
//
//body {
//  margin: 20px 50px;
//  background-color: #e1e1e1;
//}
//
//table {
//  font-size: 15px;
//  border: 1px solid rgba(150, 141, 153, 0.1);
//  border-collapse: collapse;
//  width: 100%;
//  -moz-border-radius: 20px;
//
//  thead {
//    th {
//      color: white;
//      font-size: 10pt;
//    }
//  }
//
//  &td {
//    border: 1px solid #ddd;
//    padding: 8px;
//  }
//
//}
//
//
//td {
//  font-size: 15px;
//  font-weight: bold;
//  font-family: $text-font;
//}
//
//th {
//  margin-left: 10px;
//  padding-top: 12px;
//  padding-bottom: 12px;
//  text-align: left;
//  background-color: $primary;
//  color: #ffffff;
//  font-family: $title-font;
//  font-size: 15px;
//}
//
//tr {
//  &:hover {
//    background-color: $light;
//  }
//
//  &:nth-child(even) {
//    background-color: rgba(150, 141, 153, 0.1);
//  }
//
//}
//
//
//input {
//  margin: 5px;
//}
//
//h1 {
//
//  font-family: $title-font;
//  font-size: 48px;
//  color: textForBackground($primary);
//  background-color: $primary;
//
//
//}
//
//h3 {
//  font-family: $title-font;
//  font-size: 30px;
//  margin-bottom: -30px;
//  color: textForBackground($primary);
//  background-color: $primary;
//}
//
//label {
//  font-size: 15px;
//  font-family: $text-font;
//
//}
//
//
//.header {
//  display: flex;
//  margin-top: -50px;
//  margin-bottom: -20px;
//}
//
//.container {
//  display: flex;
//}
//
//.box {
//  margin-left: 50px;
//}
//
//.border {
//  padding: 20px;
//  background-color: #ffffff;
//  -webkit-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
//  -moz-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
//  box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
//
//}
//
//.personinfo {
//  background-color: #c8c7d9;
//}
//
//
.hidden {
  display: none;

}
//
//#search, #new {
//  font-family: $title-font;
//  background-color: $active;
//  border: none;
//  color: white;
//  padding: 15px 32px;
//  text-align: center;
//  text-decoration: none;
//  display: inline-block;
//  font-size: 20px;
//  margin: 20px 2px;
//  cursor: pointer;
//}
//
//#edit, #cancel {
//  font-family: $title-font;
//  background-color: $dark;
//  border: none;
//  color: white;
//  padding: 15px 32px;
//  text-align: center;
//  text-decoration: none;
//  display: inline-block;
//  font-size: 20px;
//  margin: 20px 2px;
//  cursor: pointer;
//}
//
//
//#select-birth_day, #select-first_name, #select-gender, #select-last_name, #select-yearsService, #select-married {
//  font-size: 15px;
//  font-family: $text-font;
//}
//
//
img {
  height: 200px;
  width: 200px;

}
//
//.img-delete {
//  height: 20px;
//  width: 20px;
//  padding-left: 10px;
//}
//
//#message {
//  font-size: 15px;
//  font-weight: 500;
//  font-family: $text-font;
//  color: $primary;
//}
//
//
//#info-title {
//  font-family: 'Racing Sans One', serif;
//  font-size: 18px;
//}
//
//
//#search-field {
//  padding: 2px 2px;
//  width: 97%;
//  font-size: 16px;
//  border-radius: 5px;
//  border-width: 1px;
//  border-color: #362e39;
//  margin-top: 5px;
//}
//
//
//.search-button {
//  display: block;
//  width: 100%;
//  border: none;
//  background-color: $primary;
//  padding: 14px 28px;
//  font-size: 20px;
//  cursor: pointer;
//  text-align: center;
//
//}
//
//
//.readonly {
//  background-color: rgba(223, 223, 223, 0.84);
//}
//
