body {
    margin: 20px 50px;
    background-color: #e1e1e1;
}

.header {
    display: flex;
    margin-top: -50px;
    margin-bottom: -20px;
}

.container {
    display: flex;
}

.box {
    margin-left: 50px;
}

.personinfo {
    background-color: #c8c7d9;
}

label {
    padding: 10px;
    font-weight: bold;
    font-family: 'Racing Sans One', serif;
}

input {
    margin: 5px;
}

.hidden {
    display: none;

}

button {
    font-family: 'Racing Sans One', serif;
    background-color: #FF0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}


h1 {
    margin-top: -10px;
    font-family: 'Racing Sans One', serif;
    font-size: 48px;
}

h3{

    font-family: 'Racing Sans One', serif;
    font-size: 30px;
    margin-bottom: -30px;

}


th {
    font-family: Roboto;
    font-size: 15px;
}

td {
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto;
}


.border {
    padding: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);
    box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.76);

}





label {
    font-size: 15px;
    font-family: Roboto;

}

#select-birth_day, #select-first_name, #select-gender, #select-last_name, #select-yearsService, #select-married {
    font-size: 15px;
    font-family: Roboto;
}


.table {
    font-size: 15px;
    font-family: Roboto;
    border-collapse: collapse;
    width: 100%;
    -moz-border-radius: 20px;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;

}

.table tr:nth-child(even) {
    background-color: rgba(150, 141, 153, 0.1);
}

.table tr:hover {
    background-color: rgba(255, 0, 0, 0.13);
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF0000;
    color: #ffffff;
}




img {
    height: 200px;
    width: 200px;

}

.img-delete {
    height: 20px;
    width: 20px;
    padding-left: 10px;
}

#message {
    font-size: 15px;
    font-weight: 500;
    font-family: Roboto;
    color: #FF0000;
}



#info-title{
    font-family: 'Racing Sans One', serif;
    font-size: 18px;
}


#search-field{
    padding: 2px 2px;
    width: 97%;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #362e39;
    margin-top: 5px;
}


.search-button{
    display: block;
    width: 100%;
    border: none;
    background-color: #FF0000;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}




.readonly{
    background-color: rgba(223, 223, 223, 0.84);
}
